.container-fluid {
    background-image: url('../Pictures/chatbot1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    position: absolute;
    text-align: center; 
    align-content: center;
    margin: auto; 
}
.btn-btn-primary {
    position: relative;
    color: white;
    background-color: red;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;    
}
@keyframes anim {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
  }
.input-group
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(10, 97, 131);
    margin: 40px 0 40px;
}
footer {
    background-color: rgb(7, 48, 100);
    padding-top: 10px;
    text-align: center;
    color: rgb(199, 199, 247);
}
ul li {
    display: inline-block;
    color: rgb(199, 199, 247);
    font-size: 16px;
    margin: 5px;
}
ul {
    text-align: center;
}
#reseau li {
    color: rgb(113, 194, 248);
    font-size: 30px;
    margin: 0 10px;
}
